* {
	padding: 0px;
	margin: 0px;
	border: 0px;

}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

html {
	cursor: default;
	// scroll-behavior: smooth;
}

// [id] {
// 	scroll-margin-top: rem(80);
// }

html,
body {
	height: 100%;
	min-width: $minWidth + px;
}

body {
	line-height: 1;
	font-family: $fontFamily;
	font-size: $fontSize;
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
	font-family: $fontFamily;
	font-size: inherit;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
	outline: none;
}

button:focus-visible {
	outline: none;
}

a {
	transition: color 0.3s ease 0s;
	color: inherit;
	cursor: pointer;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
	max-width: 100%;
	object-fit: contain;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

// уберает боковую панель 
input[type='number'] {
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;

}

/* Изменяет цвет курсора у input */
input {
	caret-color: #a384fa;
}

textarea {
	resize: none
}