.footer {
   width: 100%;
   max-width: rem(3000);
   display: flex;
   position: relative;
   z-index: 85;
   padding: rem(30) 0;
   margin: 0 auto;

   @media (max-width: $tablet) {
      padding: rem(60) 0 rem(50);
   }

   // .footer__inner

   &__inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      padding: 0 rem(10);

      @media (max-width: rem(1200)) {
         grid-template-columns: repeat(1, 1fr);
         gap: rem(60);
         align-items: center;
         padding: 0;
      }
   }

   // .footer__col

   &__col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: rem(10);


   }

   // footer__col--row

   &__col--row {
      flex-direction: row;
      gap: rem(20);

      @media (max-width: rem(1200)) {
         flex-direction: column;
         align-items: center;
         gap: rem(60);
      }
   }

   // footer__col--info

   &__col--info {
      align-items: center;
   }

   // .footer__block

   &__block {
      display: flex;
      align-items: center;
      gap: rem(12);

      @media (max-width: rem(1200)) {
         justify-content: center;
         flex-direction: column;
         text-align: center;
      }
   }

   // .footer__text

   &__text {
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: var(--letterSpacingDefault);

      span {
         display: block;
         font-size: rem(14);
         color: var(--colorInfo);
         padding-top: rem(4);
      }
   }

   // .footer__socials

   &__socials {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: rem(10);
      margin-top: auto;

      @media (max-width: rem(1200)) {
         justify-content: center;
         flex-wrap: wrap;
         width: 100%;
      }
   }

   // .footer__social

   &__social {
      flex: 0 0 rem(50);
      height: rem(50);
      border-radius: 50%;
      overflow: hidden;
      background-color: #e7e7e7;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease;
      transform: scale(1);
      transform-style: preserve-3d;
      will-change: transform;

      &:active {
         transform: scale(1.12);
      }

      @media (any-hover: hover) {
         &:hover {
            transform: scale(1.12);
         }
      }
   }

}

.current {
   color: var(--colorInfo);
   font-size: rem(14);
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: var(--letterSpacingDefault);

   @media (max-width: rem(1200)) {
      display: none;
   }

   &.current-desktop {
      display: none;

      @media (max-width: rem(1200)) {
         display: block;
      }
   }
}

.footer-wrap {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: rem(30);
   width: 100%;

   @media (max-width: rem(1200)) {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
      gap: rem(60);
   }

}

.footer-info {
   display: flex;
   flex-direction: column;
   gap: rem(8);

   @media (max-width: rem(1200)) {
      gap: rem(10);
   }

   a {
      font-size: rem(14);
      line-height: 1.2;
      letter-spacing: -0.03em;
      font-weight: 500;
      color: var(--colorParent);
      text-decoration: underline;
      text-underline-offset: rem(2);
   }
}

.footer-list {
   width: 100%;
   max-width: rem(450);
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: rem(30);

   @media (max-width: rem(1200)) {
      max-width: rem(600);
   }

   @media (max-width: rem(500)) {
      grid-template-columns: repeat(2, 1fr);
      max-width: rem(250);
      text-align: left;
   }
}

.footer-items {
   display: flex;
   flex-direction: column;
   gap: rem(2);
   font-weight: 500;
   font-size: rem(14);
   line-height: 1.2;
   letter-spacing: var(--letterSpacingDefault);
   font-style: normal;
}

.footer-label {
   color: var(--colorInfo);

   @media (max-width: $mobileSmall) {
      font-size: rem(12);
   }
}

.footer-text {
   font-weight: 500;
   font-size: rem(14);
   line-height: 1.2;
   letter-spacing: -0.03em;
   color: var(--colorParent);
}