@use "sass:math";


// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}




// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: 'Inter', sans-serif;


$fontSize: rem(16); 


// Переменная для 1vw + 1vh ===============================================================================================================================================================================================================================================================================================

:root {
	// color
	--colorWhite: #fff;
	--colorWhite-light: #f8f8f8;
	--colorWhite-lightSecondary: #f9f9f9;
	--colorWhite-lightInfo: #e9e9e9;
	--colorBg: rgb(243, 242, 243);
	--colorParent: #1a1a1a;
	--colorInfo: #818080;
	--colorLine: #d9d9d9;
	--colorLine-inp: #9b9b9b;
	--colorError: #8d1414;

	// line-height

	--lineHeightDefault: 1.1;
	--lineHeightSecondary: 1.4;


	// letter-spacing
	--letterSpacingDefault: -0.03em;

	// border-radius

	--borderRadius-full: 50%;
	--borderRadius-xl: 90px;
	--borderRadius-xt: 50px;
	--borderRadius-lg: 30px;
	--borderRadius-lb: 20px;
	--borderRadius-tb: 15px;
	--borderRadius-md: 10px;
	--borderRadius-sm: 5px;

}

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1380;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 20;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
	color: var(--colorParent);
	background-color: var(--colorBg);
	line-height: var(--lineHeightDefault);
	position: relative;

}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.pace-done {
	.wrapper {
		opacity: 1 !important;
	}
}

.wrapper {
	width: 100%;
	max-width: rem(4000);
	margin: 0 auto;
	min-height: 100%;
	padding: 0 rem(20);
	display: flex;
	flex-direction: column;
	position: relative;

	@media (max-width: $tablet) {
		padding: 0 rem(10);
	}

	&.wrapper-home {
		user-select: none;
		overflow: hidden;
	}

	.decor {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('../img/icons/circle.svg') 0 0 repeat;
		opacity: 0;
		pointer-events: none;

		@media (max-width: $tablet) {
			display: none;
		}

	}

	// Прижимаем footer
	>main {
		flex: 1 1 auto;
	}

	// Фикс для слайдеров
	>* {
		min-width: 0;
	}
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

[class*="__container"] {
	max-width: rem($containerWidth);
	width: 100%;
	margin: 0 auto;
}

// Стили глобальных элементов проекта
@import "ui";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";

// Подключение стилей для popup
@import "popup";

// Подключение стилей для cookie
@import "cookie";


// scrollbar (для окна браузера) =============================================================================================================================================================================================

::-webkit-scrollbar {
	width: rem(5);
}

/* Track */
::-webkit-scrollbar-track {
	background-color: #b4b1b1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(250, 248, 248);
	border-radius: rem(2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(226, 226, 226);
}